h1 {
    background: linear-gradient(rgb(186, 71, 4), rgb(220, 75, 46), rgb(186, 71, 4));
    margin: 0px auto;
    padding: 28px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
}

body {
    margin: 0;
    background-color: #aabaea;
}

img {
    border-radius: 15px;
    border: solid;
    width: 100%;
}

.slideshow {
    margin: 20px auto;
    max-width: 550px;
    height: auto;
}

.recipe_list {
    margin: 20px auto;
    background-color: #8f8a89ee;
    border-radius: 15px;
    max-width: 900px;
    font-size: 18px;
}

@media (max-width: 940px){
    .recipe_list {
        margin: 20px;
    }
}

@media (max-width: 710px){
    .slideshow {
        margin: 20px 80px;
        width: auto;
        height: auto;
    }
}