h1 {
    background: linear-gradient(rgb(186, 71, 4), rgb(220, 75, 46), rgb(186, 71, 4));
    margin: 0px auto;
    padding: 28px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
}

body {
    margin: 0;
    background-color: #aabaea;
}

.slideshow {
    margin: 15px auto 0px auto;
    text-align: center;
    width: 500px;
    height: auto;
}

img {
    border-radius: 15px;
    border: solid;
    width: 100%;
}

.recipe_list {
    margin: 20px auto;
    background-color: #8f8a89ee;
    border-radius: 15px;
    max-width: 900px;
    font-size: 18px;
}

@media (max-width: 800px){
    .recipe_list {
        margin: 20px;
    }
}

@media (max-width: 500px){
    .slideshow {
        margin: 20px;
        width: auto;
        height: auto;
    }
}